*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --teme: rgb(238, 157, 17);
    --button-hover: #DF9310;
    --button-hover2: #020202cb;
    --light-gray:#e9e9e9;
    --color1: black;
    --color2: rgb(255, 255, 255);
    --color3: rgb(249, 160, 5);
    --box-shadow: #2c2c2c;
    --logo:rgb(255, 162, 0);
    --background: rgb(243, 243, 243);
    --main: #f2f2f2;
    --borderProduct:#81818165;
}

body{
    background-color: var(--background);
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #f1f1f123; 
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: var(--teme); 
    border-radius: 10px;
  }

a{
    text-decoration: none;
}

/*----Header-----*/
.header-inner-contet{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    background-color: var(--light-gray);
    padding: 1rem;
    position: sticky;/*para que ele fique no topo*/
    top: 0;
    box-shadow: 10px 0 10px var(--box-shadow);
    z-index: 99;/*para que ele fique acipa dos outros itens*/
}
.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}
.logo{
    color: var(--box-shadow);
}
.logo span{
 color:var(--logo);
}
.logoFoto{
    width: 70px;
    display: none;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-icons-container{
    display: flex;
    align-items: center;

}
.nav-icons-container img{
    width: 50px;
    cursor: pointer;
}
.nav-icons-container .carrinhoimg{
    width: 30px;
    cursor: pointer;
}
.nav-icons-container img:first-child{
    margin-right: 1rem;
}
nav ul li{
    color: var(--color3);
    font-weight: bold;
    margin-right: 1.5rem;
    cursor: pointer;
}
nav ul li:hover{
    color:var(--teme);
    transform: translateY(-5px);
    transition: all 0.6s;
    
}nav a{
    color: var(--color3);
}
.menu-button{
    display: none;
}
ul .produtos{
    display: none;
}
header{
    background-image: radial-gradient( #fff, #c7c7c7);
}
.header-botton-side-left .cadastro-content{
    background-color: var(--color2);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.header-botton-side-left img{
    width: 4.2rem;
    margin-bottom: 2rem;
    margin-left: -1rem;
    filter: drop-shadow(0px 0px 3px #DF9310 );
}
.header-botton-side-left h3{
    text-align: center;
    justify-content: center;
    color: var(--teme);
    margin-top: -4rem;
    margin-bottom: 2rem;
}
.cadastro{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.cadastro label{
    text-align: left;
    color: var(--teme);
}
.cadastro input{
    width: 90%;  
    padding: 5px;
    border-radius: 5px;
    outline-color: var(--teme);
    margin: 0.5rem;
}
.cadastro select{
    width: 20%;
    margin-left: 0.7rem;
}
.cadastro a {
    margin-top: 2rem;
 background-color: var(--teme);
 padding: 10px;
 width: 150px;
 border-radius: 5px;
 text-align: center;
 color: var(--color2);
 text-decoration: none;
}
.cadastro a:hover{
    background-color: var(--button-hover);
}
/*----Media queries-----*/

@media (max-width: 800px) {
    .logo{
        display: none;
    }
    .logoFoto{
        display: block;
        margin-left: -28rem;
    }
    .header-botton-side-left .cadastro-content{
        background-color: var(--color2);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }
}

/*----Media queries-----*/
/*----Header-----*/
