*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --teme: rgb(238, 157, 17);
    --button-hover: #DF9310;
    --button-hover2: #020202cb;
    --light-gray:#e9e9e9;
    --color1: black;
    --color2: rgb(255, 255, 255);
    --color3: rgb(249, 160, 5);
    --box-shadow: #2c2c2c;
    --box-shadow2:rgba(44, 44, 44, 0.444);
    --logo:rgb(255, 162, 0);
    --background: rgb(243, 243, 243);
    --main: #f2f2f2;
    --borderProduct:#81818165;
    --transparent: #00000000;
}

body{
    background-color: var(--background);
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #f1f1f123; 
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: var(--teme); 
    border-radius: 10px;
  }

a{
    text-decoration: none;
}

/*----Header-----*/
.header-inner-contet{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
/* carrinho*/
.carrinho{
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    width: 22rem;
    height: 24rem;
    padding: 1rem;
    z-index: 99;
    position: fixed;
    left: auto;
    right: 0;
    border-radius:  0 0  0 15px;
    box-shadow: 0px 11px 10px  var(--box-shadow2);
    display: none;
}
.carrinho h3{
   color: var(--color3);
}
.carrinho .compras {
    width: 100%;
    height: 60%;
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    overflow-y: scroll;
    overflow-x: hidden;
}

.compras::-webkit-scrollbar {
    width: 3px;
}

.compras::-webkit-scrollbar-track {
    background: var(--transparent);
}

.compras::-webkit-scrollbar-thumb {
    background: var(--box-shadow);
    border-radius: 10px;
}

.compras::-webkit-scrollbar-thumb:hover {
    background: var(--teme);
    border-radius: 10px;
}
/*produtos2*/
.compras .produtos2{
    width: 98%;
}
.compras .produtos2 .textos {
    display: flex;
    flex-direction: column;
    width: 300px; /* Take full width */
}

.compras .produtos2 .nome {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
    margin-right: auto;
}

.compras .produtos2 .imagem-do-produto {
    width: 80px;
    margin-right: 0.3rem;
}

.compras .produtos2 .valor {
    color: #494646;
    font-size: 0.9rem;
    margin-top: -0.1rem;
    margin-left: 0;
    margin-right: auto;
}

.compras .produtos2 .valor span {
    color: var(--teme);
    font-weight: bold;
}

.compras .produtos2 .parcela {
    color: #494646;
    font-size: 0.7rem;
    margin-top: 0.5rem; /* Adjust margin as needed */
    margin-left: 0;
    margin-right: auto;
}

.compras .produtos2 .parcela span {
    color: var(--teme);
    font-weight: bold;
}

/*produtos2*/
/*----carrinho2-----*/
.carrinho2{
    background-color: var(--light-gray);
    width: 100%;
}
.carrinho2 .Meu-carrinho{
    color: var(--teme);
    padding: 0.3rem;
    text-align: center;
    align-items: center;
}
.C-arrinho{
    background-color: var(--light-gray);
    width: 100%;
    height: 400px;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.C-arrinho::-webkit-scrollbar {
    width: 6px;
}

.C-arrinho::-webkit-scrollbar-track {
    background: var(--transparent);
}

.C-arrinho::-webkit-scrollbar-thumb {
    background: var(--box-shadow);
    border-radius: 10px;
}

.C-arrinho::-webkit-scrollbar-thumb:hover {
    background: var(--teme);
    border-radius: 10px;
}
.produtos2{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
.quantidade {
    background-color: var(--light-gray);
    border-radius: 5px;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantidade .qtd {
    text-align: center;
    margin: 0;
    font-weight: bold;
    color: var(--color1);
}
.textos{
    display: flex;
    width: 270px;
    height: 100%;
}
.produtos2 .imagem-do-produto{
    width: 90px;
    height: 90%;
    margin-right: 1rem;
}
.produtos2 .nome{
    font-variant: black;
    font-size: 1.1rem;
}
.produtos2 .valor{
    color: #494646;
    margin-top: 1.4rem;
    margin-left: -155px;
}
.produtos2 .valor span{
    color: var(--teme);
    font-weight: bold;
}
.produtos2 .parcela{
    color: #494646;
    font-size: 0.8rem;
    margin-top: 2.5rem;
    margin-left: -92px;
}
.produtos2 .parcela span{
    color: var(--teme);
    font-weight: bold;
}
.carrinho .total {
    width: 100%;
    height: 3rem;
    padding: 0.8rem;
}

.carrinho button {
    background-color: var(--color3);
    color: var(--color2);
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0.8rem;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
    top: auto;
    bottom: 0;
}

.show-carrinho {
    display: block;
}

.info-single-chekout {
    border-bottom: 2px dotted;
    padding: 10px 0;
}

.info-single-chekout p {
    font-size: 14px;
}

.info-single-chekout span {
    font-size: 14px;
    font-weight: bold;
    color: var(--teme);
}


.cart{
    float: right;
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
}
/* carrinho*/
.navbar{
    background-color: var(--light-gray);
    padding: 1rem;
    position: sticky;/*para que ele fique no topo*/
    top: 0;
    box-shadow: 10px 0 10px var(--box-shadow);
    z-index: 99;/*para que ele fique acipa dos outros itens*/
}
.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}
.logo{
    color: var(--box-shadow);
}
.logo span{
 color:var(--logo);
}
.logoFoto{
    width: 70px;
    display: none;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-icons-container{
    display: flex;
    align-items: center;

}
.nav-icons-container img{
    width: 50px;
    cursor: pointer;
}
.nav-icons-container .carrinhoimg{
    width: 30px;
    cursor: pointer;
}
.nav-icons-container img:first-child{
    margin-right: 1rem;
}
nav ul li{
    color: var(--color3);
    font-weight: bold;
    margin-right: 1.5rem;
    cursor: pointer;
}
nav ul li:hover{
    color:var(--teme);
    transform: translateY(-5px);
    transition: all 0.6s;
    
}nav a{
    color: var(--color3);
}
.menu-button{
    display: none;
}
header{
    background-image: radial-gradient( #fff, #c7c7c7);
}
.header-botton-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}
.header-botton-side-left{
    height: 100%;
    flex-basis: 50%;
}
.header-botton-side-left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}
.header-botton-side-left h2 span{
    color: var(--teme);
}
.header-botton-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.header-botton-side-left button{
    background-color: var(--color3);
    color: var(--color2);
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}.header-botton-side-left button:hover{
    background-color: var(--button-hover);
    font-weight: bold;
    transition: 0.4s;
}
.header-botton-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-botton-side-right img{
    width: 100%;

}
/*----Media queries-----*/

@media (max-width: 800px) {
    .logo{
        display: none;
    }
    .logoFoto{
        display: block;
        margin-left: -11rem;
    }
    .menu-button{
        display: block;
    }
    .header-botton-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }
    nav{
        position: absolute;
        background-color: var(--light-gray);
        width: 100%;
        top: 53px;
        display: none;
    }
    .show-menu nav{
        display: block;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
}

/*----Media queries-----*/
/*----Header-----*/

/*----Main content-----*/
main{
    background-color: var(--main);
}
.Orange-background{
    background-color: var(--teme);

}
.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}
.cols{
    display: grid;
    padding: 4rem 1rem;
    justify-content: center;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.cols-3 img{
    max-width: 100%;
}
.cols-4 img{
    max-width: 100%;
}
.cols>*{
    cursor: pointer;
    transition: all 0.2s;

}
.cols>*:hover{
    transform: translateY(-5px);
}
.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}
.subtitle-underline{
    box-shadow: 1px 0 10px var(--teme);
    background-image: radial-gradient(#ffc765 , #DF9310);
    width: 200px;
    height: 5px;
    border-radius: 5px;
    margin: 8px auto 0 auto;
}
.product{
    color: var(--box-shadow);
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.product-name{
    font-weight: bold;
    margin-top: 0.4rem;
}
.rate{
    color: var(--button-hover);
    font-size: 1rem;
}
.product-price span{
    font-weight: bold;
    color: var(--teme);
}
.product button{
    background-color: var(--color3);
    color: var(--color2);
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 2px;
    font-weight: 300;
    font-size: 1rem;
    transition: all 0.2s;
}.product button:hover{
    background-color: var(--color1);
    transition: 0.4s;
}
.exclusive-container{
    color: var(--color2);
    flex-direction: row-reverse;
    padding: 5rem 1rem;

}
.exclusive-container img{
    margin-top: 4rem;
    max-width: 500px;
}
.exclusive-container button{
    background-color:var(--color1);
}
.exclusive-container button:hover{
    background-color:var(--button-hover2);
    font-weight: bold;
    transition: 0.4s;
}
/*----Main content-----*/

/*----Media queries-----*/
@media  (max-width:800px){
    .section-title{
        font-size: 1.1rem;
    }
    .subtitle-underline{
        width: 100px;
    }
    .cols-3{
        grid-template-columns: repeat(1, 1fr);
    }
    .cols-4{
        grid-template-columns: repeat(2, 1fr);
    }
    .product-name,
    .product-price,
    .rate{
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }
    .exclusive-container{
        flex-direction: column-reverse;
    }
    .exclusive-container img{
        margin-bottom: 4rem;
    }

}
/*----Media queries-----*/

/*----Feedback-----*/

.feedback{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
    
}
.feedbacks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow:  0 0 15px var(--borderProduct);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}
.feedbacks:hover{
    transform: translateY(-5px);
    box-shadow:  0 0 15px var(--teme);
}
.feedbacks p{
    margin: 5px 0;
}
.feedbacks p:first-child{
    font-weight: bold;
    color: var(--teme);
    font-size: 3.3rem;
    margin-top: 1rem;
    line-height: 2rem;
}
.feedbacks p:last-child{
    font-weight: bold;
    color: var(--box-shadow);
}
/*----Media queries-----*/
@media  (max-width:800px){

    .feedback{
        flex-direction: column;
    }
    .feedbacks{
        margin-top: 2rem;
    }

}
/*----Media queries-----*/
/*----Feedback-----*/
/*----Footer-----*/

.footer-content {
    display: flex;
    align-items: center; 
    justify-content: center;
    color: var(--color1);
    padding: 1rem 1rem;
    gap: 1rem;
}
.download-options>*{
    margin: 1rem 0;
}
.download-options>p:first-child{
    color: var(--color2);
    font-weight: bold;
    font-size: 1.5rem;
}
.download-options>div{
   display: flex;
}
.download-options>div img{
    width: 180px;
 }
 .logo-footer{
    text-align: center;
    font-weight: bold;
    color: var(--box-shadow);
 }
 .links-footer h3{
    color: var(--color2);
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
 }
 .links-footer ul{
    list-style: none;
 }
 .links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
 }
 .copyright{
    color: var(--color2);
    padding: 2rem 0;
    text-align: center;
 }
 hr{
    background-color: var(--color2);
    height: 2px;
    border-radius: 2px;
    width: 80%;
    border-style: none;
 }
 /*----Media queries-----*/
@media  (max-width:800px){

  .footer-content{
    display: inline;
    font-size: 0.8rem;
  }
  .footer-content>div{
    padding: 2rem;
  }
  .download-options>div{
    display: inline;
  }
  .download-options>div img{
    width: 120px;
  }
  .copyright{
    font-size: 0.9rem;
  }
}
/*----Media queries-----*/
/*----Footer-----*/