*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --teme: rgb(238, 157, 17);
    --button-hover: #DF9310;
    --button-hover2: #020202cb;
    --light-gray:#e9e9e9;
    --color1: black;
    --color2: rgb(255, 255, 255);
    --color3: rgb(249, 160, 5);
    --box-shadow: #2c2c2c;
    --logo:rgb(255, 162, 0);
    --background: rgb(243, 243, 243);
    --main: #f2f2f2;
    --borderProduct:#81818165;
}

body{
    background-color: var(--background);
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #f1f1f123; 
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: var(--teme); 
    border-radius: 10px;
  }

a{
    text-decoration: none;
}

/*----Header-----*/
.header-inner-contet{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    background-color: var(--light-gray);
    padding: 1rem;
    position: sticky;/*para que ele fique no topo*/
    top: 0;
    box-shadow: 10px 0 10px var(--box-shadow);
    z-index: 99;/*para que ele fique acipa dos outros itens*/
}
.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}
.logo{
    color: var(--box-shadow);
}
.logo span{
 color:var(--logo);
}
.logoFoto{
    width: 70px;
    display: none;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
.nav-icons-container{
    display: flex;
    align-items: center;

}
.nav-icons-container img{
    width: 50px;
    cursor: pointer;
}
.nav-icons-container .carrinhoimg{
    width: 30px;
    cursor: pointer;
}
.nav-icons-container img:first-child{
    margin-right: 1rem;
}
nav ul li{
    color: var(--color3);
    font-weight: bold;
    margin-right: 1.5rem;
    cursor: pointer;
}
nav ul li:hover{
    color:var(--teme);
    transform: translateY(-5px);
    transition: all 0.6s;
    
}nav a{
    color: var(--color3);
}
.menu-button{
    display: none;
}
ul .produtos{
    display: none;
}
header{
    background-image: radial-gradient( #fff, #c7c7c7);
}
.header-botton-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}
.header-botton-side-left{
    height: 100%;
    flex-basis: 100%;
}
.header-botton-side-left .img-1{
    width: 4.2rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0px 0px 3px #DF9310 );
}
.header-botton-side-left .img-2{
    width: 8rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
}
.header-botton-side-left p span{
    color: var(--teme);
}
.header-botton-side-left p .s1{
    color: var(--box-shadow);
    font-weight: bold;
}
.header-botton-side-left p .s2{
    color: var(--color3);
    font-weight: bold;
}
.header-botton-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    text-align: justify;
}
.header-botton-side-left button{
    background-color: var(--color3);
    color: var(--color2);
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}.header-botton-side-left button:hover{
    background-color: var(--button-hover);
    font-weight: bold;
    transition: 0.4s;
}
.header-botton-side-right img{
    width: 100%;

}
/*----Media queries-----*/

@media (max-width: 800px) {
    .logo{
        display: none;
    }
    .logoFoto{
        display: block;
        margin-left: -11rem;
    }
    .header-botton-side-left .img-1{
        width: 6rem;
        margin-left: 0rem;
        margin-top: -1rem;
        margin-bottom: 2rem;
        filter: drop-shadow(0px 0px 3px #DF9310 );
    }
    .header-botton-side-left .img-2{
        width: 12rem;
        margin-top: -1rem;
        margin-left: -8rem;
        margin-bottom: 2rem;
    }
    .menu-button{
        display: block;
    }
    .header-botton-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }
    nav{
        position: absolute;
        background-color: var(--light-gray);
        width: 100%;
        top: 53px;
        display: none;
    }
    .show-menu nav{
        display: block;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
}

/*----Media queries-----*/
/*----Header-----*/

.Orange-background{
    background-color: var(--teme);

}
.page-inner-content{
    max-width: 1280px;
    margin: 0 auto;
}

/*----Feedback-----*/
/*----Footer-----*/

.footer-content {
    display: flex;
    align-items: center; 
    justify-content: center;
    color: var(--color1);
    padding: 1rem 1rem;
    gap: 1rem;
}
.download-options>*{
    margin: 1rem 0;
}
.download-options>p:first-child{
    color: var(--color2);
    font-weight: bold;
    font-size: 1.5rem;
}
.download-options>div{
   display: flex;
}
.download-options>div img{
    width: 180px;
 }
 .logo-footer{
    text-align: center;
    font-weight: bold;
    color: var(--box-shadow);
 }
 .links-footer h3{
    color: var(--color2);
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
 }
 .links-footer ul{
    list-style: none;
 }
 .links-footer ul li{
    margin-bottom: 0.5rem;
    cursor: pointer;
 }
 .copyright{
    color: var(--color2);
    padding: 2rem 0;
    text-align: center;
 }
 hr{
    background-color: var(--color2);
    height: 2px;
    border-radius: 2px;
    width: 80%;
    border-style: none;
 }
 /*----Media queries-----*/
@media  (max-width:800px){

  .footer-content{
    display: inline;
    font-size: 0.8rem;
  }
  .footer-content>div{
    padding: 2rem;
  }
  .download-options>div{
    display: inline;
  }
  .download-options>div img{
    width: 120px;
  }
  .copyright{
    font-size: 0.9rem;
  }
}
/*----Media queries-----*/
/*----Footer-----*/