<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!--estilos-->
    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="style/login.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="style/Error404.css">
    <!--estilos-->
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <title>404 | Page not found !</title>
</head>
<body>
    <div class="navbar">
        <div class="header-inner-contet">
            <a href="home.html">
                <h1 class="logo">Power <span>Play Palace</span></h1></a>
            <a href="home.html" class="linkHomeMenu">
            <img src="./img/logo-removebg-preview.png" alt="logo" class="logoFoto"></a>
        </div>
    </div>
    <section class="informations-2">
      <div class="information-container">
              <h1>404</h1>
              <p>Page not found !</p>
      </div>
    </section>
    <footer>
        <div class="footer-container">
          <div class="logo-space">
           <center><img src="img/logo3.png" alt="logo alternativa"></center>
            <p>Projetado e construído com todo o amor do mundo pela equipe <span>Power Play Palace</span> com a ajuda de nossos colaboradores.</p>
          </div>
          <div class="information">
              <ol>
                <h3>conteudo</h3>
                <li><a href="">Atividades</a></li>
                <li><a href="">Videos</a></li>
                <li><a href="">Conteudo</a></li>
                <li><a href="">Documentacao</a></li>
                <li><a href="">Tags</a></li>
              </ol>
      
              <ol>
                <h3>Linguagens de programação</h3>
                <li><a href="">JavaScript</a></li>
                <li><a href="">PHP</a></li>
                <li><a href="">SQL</a></li>
                <li><a href="">Python</a></li>
                <li><a href="">C++</a></li>
              </ol>
      
              <ol>
                <h3>conteudo</h3>
                <li><a href="">Atividades</a></li>
                <li><a href="">Videos</a></li>
                <li><a href="">Conteudo</a></li>
                <li><a href="">Documentacao</a></li>
                <li><a href="">Tags</a></li>
              </ol>
      
              <ol>
                <h3>Linguagens de programação</h3>
                <li><a href="">JavaScript</a></li>
                <li><a href="">PHP</a></li>
                <li><a href="">SQL</a></li>
                <li><a href="">Python</a></li>
                <li><a href="">C++</a></li>
              </ol>
          </div>
        </div><br>
        <hr><br>
        <center><p>© Power Play Palace. Todos os direitos reservados.</p></center>
    </footer>
    <!--script-->
    <script src="js/Error404.js"></script>
    <script src="js/index.js"></script>
    <script src="js/dropdown.js"></script>
    <script src="js/carrinho.js"></script>
    <script src="js/NewPage.js"></script>
    <script src="js/login.js"></script>
     <!--script-->
</body>
</html>